/* ---------------------- Content ---------------------- */
body {
	background: $backgroundColor;
}

.wrapper {
	margin: 0 auto;
	max-width: 95%;
	width: 1500px;	
}

a.button {
	border: 1px solid;
	color: $black;
	font-size: 0.8em;
	padding: 0.75em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;

	&:hover, &:focus, &:active {
		color: $white !important;
	}
}

// Shoppy -------------------------------- //
body.shoppy {
	background: $shoppyBg;
	position: relative;

	&:after {
		content: '';
		background-image: url('../images/bg-shoppy.png');
		display: block;
		opacity: 0.4;
		position: fixed;
		top: 5%;
	    left: 5%;
	    height: 90%;
	    width: 90%;
	}

	.pageContent a.button {
		border-color: $green;

		&:hover, &:focus, &:active {
			background: $green;
		}
	}
}

// Spacing -------------------------------- //
// .outerBox {
// 	border: 1px solid rgba(255,255,255,0.4);
// 	height: calc(100vh - 6em);
// 	margin: 3em;
// 	padding: 1em;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: calc(100vw - 6em);
// 	z-index: 0;
// }

.outerWrapper {
	height: calc(100vh - 2em);
	margin: 2em 3em 0;
	padding: 0;
	position: relative;
	width: calc(100vw - 6em);
	z-index: 1;

	@media screen and (max-width: 700px) {
		margin: 2em 1.5em 0;
		width: calc(100vw - 3em);
	}
}

.cornerStar {
	cursor: pointer;
	font-size: 1em;
	position: fixed;
	bottom: 1em;
	right: 1.25em;

	i {
		color: $white;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

// Home Projects -------------------------------- //
.projects {
	float: left;
	margin-top: 14em;
	width: 100%;

	a {
		border-bottom: 2px solid rgba(255,255,255,0.25);
		clear: left;
		float: left;
		font-family: $titleHeadingFontFamily;
		font-size: 2.25em;
		line-height: 0.7;
		margin: 0.25em 0 0.5em;
		position: relative;

		@media screen and (max-width: 700px) {
			font-size: 1.5em;
		}

		&:after {
			content: '\e90f';
			font-family: 'icomoon';
			font-size: 0.5em;
			position: absolute;
			top: 0.4em;
			right: -1.75em;
		}
	}
}

// Page -------------------------------- //
.pageContent {
	background: $altBackgroundColor;
	padding: 2em 0;
	position: relative;
	width: 100%;
	z-index: 3;

	&.altBg {
		background: $altAltBackgroundColor;
	}

	.container {
		max-width: 900px;
	}

	.zoom-overlay-open & {
		position: static;
	}
}

.projectIntro {
	background: $altBackgroundColor;
	padding: 0 1em;

	@media screen and (min-width: 1076px){
		margin-left: -450px;
		max-width: 900px;
		padding: 2em;
		position: absolute;
		top: -9.35em;
		left: 50%;
	}

	@media only screen and (max-device-height: 1400px) and (orientation: portrait) {
		margin-left: -45%;
    	max-width: 90%;
		padding: 2em;
		position: absolute;
		top: -9.35em;
		left: 50%;
	}
}