/* ---------------------- Content ---------------------- */
// General -------------------------------- //
body {
	background: $backgroundColor;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.wideContainer {
	max-width: 1200px;
	margin: 0 auto;
}

.pageContent {
	padding: 2em 1.5em;

	&.altBg {
		background: $altBackgroundColor;
	}

	.zoom-overlay-open & {
		position: static;
	}
}

a.button {
	background: $shoppyBg;
	border-radius: 50px;
	color: $white;
	font-size: 0.9em;
	font-weight: 600;
	font-family: $headingFontFamily;
	padding: 1em 2em;
	text-decoration: none;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;

	&:hover, &:focus, &:active {
		color: $white !important;
	}
}

.box {
	border-radius: 8px;
	box-shadow: 1px 1px 11px rgba($darkPurple, 0.1);
	float: left;
	margin: 0.5em;
	padding: 0.5em 2em;
}

.tag {
	background: lighten($lavender, 11%);
    border-radius: 3px;
    color: $darkPurple;
    display: inline-block;
    font-size: 0.9em;
    margin: 0.2em 0.3em 0.2em 0;
    padding: 0.2em 0.75em;
}

// Page Title -------------------------------- //
.title {
	color: $titleColor;
	width: 100%;

	h1 {
		position: relative;			
	}
}

// Project -------------------------------- //
.intro {
	margin: 0 3em;
	padding: 4em 0;
	text-align: center;

	@media screen and (max-width: $breakpoint-small){
		margin: 0 1em;
	}

	h1, h4, a, p {
		color: $titleColor;
		margin: 0;
		text-decoration: none;
	}

	h4 {
		margin: 0 0 2em;
		opacity: 0.7;
	}

	p {
		font-size: 1.2em;
		margin: 0 auto;
		max-width: 750px;
	}
}

.project {
	@media only screen and (min-width: $breakpoint-med){
		.description {
			float: left;
			margin-right: 3%;
			width: 72%;
		}

		.tools {
			float: left;
			width: 25%;
		}
	}
}

// Persona -------------------------------- //
.persona {
	font-size: 0.85em;
	margin: 0 0 1em;

	@media only screen and (min-width: $breakpoint-med){
		width: 48.5%;

		&:nth-of-type(2n) {
			margin-left: 3%;
		}
	}

	ul {
		border-left: none;
		list-style-type: disc;
	}

	img {
		margin-top: 2em;
	}

	.about {
		font-size: 1.1em;
		border-top: 1px solid $borderColor;
		margin-top: 1.5em;
		padding-top: 1em;
	}
}

// Shoppy -------------------------------- //
.shoppy .intro {
	background: $shoppyBg;
	position: relative;

	&:after {
		content: '';
		background-image: url('../images/bg-shoppy.png');
		display: block;
		opacity: 0.4;
		position: absolute;
		top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	}

	.pageContent a.button {
		border-color: $green;

		&:hover, &:focus, &:active {
			background: $green;
		}
	}
}

// Footer -------------------------------- //
.cornerStar {
	cursor: pointer;
	font-size: 1em;
	position: fixed;
	bottom: 2.5em;
    right: 3em;

	i {
		color: $black;
		opacity: 0.5;

		.home & {
			color: $white;
		}

		&:hover {
			opacity: 1;
		}
	}

	@media screen and (max-width: 1200px) {
		display: none;
	}
}