/* ---------------------- Header ---------------------- */
header {
	color: #fff;
	padding: 2em 3.5em;
	text-align: center;

	@media screen and (max-width: $breakpoint-small){
		padding: 2em 1.5em;
	}

	h1, h4, a {
		color: $headingColor;
		text-decoration: none;
	}

	h4 {
		margin-top: 0;
		opacity: 0.7;
	}

	// Top Left -------------------------------- //
	.initial {
		float: left;
		font-family: $altFontFamily;
		font-size: 1.5em;

		span {
			font-family: $cursiveFontFamily;
			font-size: 2em;
			padding-right: 0.2em;
		}
	}

	// Top Right -------------------------------- //
	.contactInfo {
		text-align: right;
		float: right;
		margin-top: 0.5em;

		a {
			display: block;
			padding-bottom: 10px;
		}
	}	
}