/* ---------------------- Type ---------------------- */
* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	overflow-y: auto;
}

body {
	color: $fontColor;
	font-family: $fontFamily;
	font-size: 17px;
	font-weight: 400;
	line-height: $fontHeight;
	-webkit-font-smoothing: antialiased;

	@media screen and (max-width: 580px){
		font-size: 95%;
	}
}

h1 {
	color: $headingColor;
	font-size: 4.25em;
	font-family: $altFontFamily;
	font-weight: 400;
	margin: 0.5em 0 0;
}

h2, h3, h4, h5, h6 {
	color: $headingColor;
	font-family: $headingFontFamily;
	font-weight: 400;
	margin: 0.5em 0;
}

h2 {
  font-size: 1.75em;
  
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 0.9em;
  font-family: $fontFamily;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h5 {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h6 {
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
}

a {
	color: $linkColor;
	text-decoration: underline;
	
	&:hover,&:active, &:focus {

	}
}

hr {
	
}

ul {
	border-left: 3px solid rgba(0,0,0,0.1);
	list-style-type: none;
	margin: 0.5em 0 2em;
	padding: 0 0 0 1em;

	li {
		font-size: 0.95em;
		line-height: 1.5;
		padding: 4px 0;
	}
}

.quote {
	color: $darkPurple;
	font-family: $altFontFamily;
	font-size: 1.2em;
	padding-left: 1.2em;
	position: relative;

	&:before {
		content: "“";
		color: $lavender;
		font-size: 11em;
		line-height: 1;
		opacity: 0.17;
	    position: absolute;
	    left: -0.07em;
	    top: 0;
	}
}

::selection {
	background: lighten($lavender, 10%);
}

::moz-selection {
	background: lighten($lavender, 10%);
}