/* ---------------------- Variables ---------------------- */

/* Colors -------------------------------- */
$fuschia: #B02DBF;
$lavender: #C4C3E5;
$green: #9FCE9F;
$darkPurple: #1E0A2D;

$white: #fff;
$grey: #74737b;
$lightGrey: #ececec;
$offBlack: #020110;
$black: #000;


/* Fonts -------------------------------- */

// Name and main title text
$altFontFamily: 'Libre Baskerville', serif;;
$titleColor: $white;

// Body
// Headings
$headingFontFamily: 'Nunito', sans-serif;;
$headingColor: $offBlack;
$fontColor: $grey;
$fontHeight: 1.7;

// Text and h4
$fontFamily: 'Nunito', sans-serif;;

// Cursive home text
$cursiveFontFamily: 'Befindisa', serif;
$homeColor: $white;

/* General -------------------------------- */
$linkColor: $fuschia;
$linkHover: $fuschia;
$borderColor: #eee;

$backgroundColor: $white;
$altBackgroundColor: $lightGrey;
$homeBackgroundColor: $lavender;

$shoppyBg: $green;

/* Utility -------------------------------- */
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.altBg {
  background: $altBackgroundColor;
}

.block {
  display: block;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.font-regular, .font-light {
  font-weight: 400;
}

.font-heavy {
  font-weight: 600;
  font-weight: 800;
}

.hidden-sm {
  display: none;
}

.imageVisible {
	opacity: 1;
}

.clear {
  &:before, &:after {
    content: "";
      display: table;
  }

  &:after {
    clear: both;
  }
}

.imagePreloader {
  opacity: 0;
  -ms-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}